<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] [%logger{36}] - %msg%n"/>
        </Console>

        <RollingFile name="Template" fileName="C:/_Payara-Logs/AM-Logs/AM/Template.log" immediateFlush="true"
                     filePattern="C:/_Payara-Logs/AM-Logs/AM/Template/Template-%i-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="[%-5level] [%logger{36}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="40 MB"/>
            </Policies>

        </RollingFile>

        <RollingFile name="Failure" fileName="C:/_Payara-Logs/AM-Logs/AM/Failure.log" immediateFlush="true"
                     filePattern="C:/_Payara-Logs/AM-Logs/AM/Failure/Failure-%i-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="[%-5level] [%logger{36}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="40 MB"/>
            </Policies>

        </RollingFile>
        <RollingFile name="Initial" fileName="C:/_Payara-Logs/AM-Logs/AM/Initial.log" immediateFlush="true"
                     filePattern="C:/_Payara-Logs/AM-Logs/AM/Initial/Initial-%i-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="[%-5level] [%logger{36}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="40 MB"/>
            </Policies>

        </RollingFile>
    </appenders>

    <Loggers>
        <Logger name="Template" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Template"/>
        </Logger>

        <Logger name="Failure" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Failure"/>
        </Logger>
        <Logger name="Initial" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Initial"/>
        </Logger>
    </Loggers>
</configuration>